<div class="row">
  <div class="col-4"></div>
  <div class="col-4 text-center">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Uspeh!</h4>
      <p>
        Uspešno ste poslali zahtev za kreiranje naloga na našem sajtu. Molimo
        Vas da sačekate da administrator odobri Vaš zahtev.
      </p>
      <hr />
      <p class="mb-0">
        Ea eam error oratio delectus. In antiopam suavitate interesset mea.
        Impetus fabulas nam ea.
      </p>
    </div>
  </div>
</div>
