<div class="content text-center">
  Hvala na interesovanju za Teniski klub "Dream Team"!
  <br />
  Ako imate bilo kakva pitanja, komentare ili želite saznati više o našem klubu,
  slobodno nas kontaktirajte na sledeće načine:
  <br />
  <br />
  <b>Telefon:</b> +381-11-123-4567
  <br />
  (Molimo vas da nazovete tokom radnog vremena)
  <br />
  <br />
  <b>E-mail: </b> info@tkdreamteam.rs
  <br />
  <br />
  <b>Radno vreme: </b>
  <br />
  Ponedeljak - Petak: 8:00 - 20:00
  <br />
  Subota: 9:00 - 18:00
  <br />
  Nedelja: Zatvoreno
  <br />
  <br />
  <b>Naša lokacija: </b>Teniski klub "Dream Team", Ulica Teniskih Terena 1,
  11000 Beograd, Srbija.
  <br />
  <br />
  Kako bismo vam pružili najbolju uslugu, slobodno nas kontaktirajte unapred
  kako bismo dogovorili sastanak ili trening.
  <br />
  Ukoliko imate posebne zahteve ili želite saznati više o našim članskim
  paketima, naše ljubazno osoblje vam stoji na raspolaganju u cilju pružanja
  svih potrebnih informacija.
  <br />
  Takođe nas možete pratiti na društvenim mrežama kako biste bili u toku s
  najnovijim vestima, događanjima i posebnim ponudama:
  <br />
  <br />
  <b>Facebook: </b> www.facebook.com/sportskisvijettenis
  <br />
  <b>Instagram: </b> www.instagram.com/sportski_svijet_tenis
  <br />
  <b>Twitter: </b> www.twitter.com/sportski_svijet_tenis
  <br />
  <br />
  Radujemo se vašem dolasku i prilici da vam pružimo vrhunski teniski doživljaj!
  <br />
</div>
