<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <div class="alert alert-light" role="alert">
      <h4 class="alert-heading">O klubu</h4>
      <p>
        Upoznajte Teniski klub "Dream Team" - vaša destinacija za vrhunski
        tenis! Tražite mesto gdje možete ostvariti svoj teniski potencijal?
        Nemojte dalje tražiti! Teniski klub "Dream Team" je renomirani klub s
        tradicijom dugom 45 godina, gde se tenis doživljava na jedinstven način.
        Naš klub se ponosi timom vrhunskih trenera koji će vas inspirisati i
        usmeravati na putu ka uspehu. Naši stručnjaci su dobro poznati u
        teniskoj industriji i koriste najnovije metode treninga kako bi vam
        pomogli da poboljšate svoju igru. Bez obzira jeste li početnik koji tek
        ulazi u svet tenisa ili iskusni profesionalac, naši treneri
        prilagođavaju svoj pristup vašim potrebama i ciljevima. Naš klub nudi
        širok izbor terena svih vrsta podloga - od klasičnih zemljanih terena do
        modernih tvrdo-izgrađenih terena. Bez obzira na vašu preferencu, možete
        biti sigurni da ćete pronaći savršenu podlogu za svoju igru. Naši tereni
        su vrhunski održavani i osiguravaju optimalne uslove za vrhunski tenis.
        Nakon napornog treninga ili intenzivne teniske utakmice, opustite se i
        obnovite svoje telo i duh u našoj luksuznoj sauni. Uživajte u
        opuštajućem okruženju koje će vam pomoći da se oslobodite stresa i
        oporavite se nakon napornih treninga. Kao dodatak teniskim sadržajima,
        naš klub takođe nudi moderno opremljenu teretanu. Bez obzira jeste li
        zainteresovani za jačanje snage, poboljšanje izdržljivosti ili rad na
        fleksibilnosti, naša teretana pruža sve što vam je potrebno za
        postizanje vrhunskog fizičkog stanja. Tradicija Teniskog kluba "Dream
        Team" proteže se već 45 godina. Stvorena je kao mesto gde ljubitelji
        tenisa mogu doći zajedno, deliti svoju strast i razvijati svoje veštine.
        Danas, ta tradicija živi i dalje, stvarajući jedinstvenu zajednicu
        tenisera svih uzrasta i nivoa iskustva. Pridružite nam se i postanite
        deo naše teniske porodice. Bez obzira jeste li amater, profesionalac ili
        samo ljubitelj ovog predivnog sporta, Teniski klub "Dream Team" nudi vam
        sve što vam treba za ostvarenje vaših teniskih ciljeva. Posetite nas
        danas i doživite najbolje od sveta tenisa!
      </p>
      <hr />
      <p class="mb-0">
        Ea eam error oratio delectus. In antiopam suavitate interesset mea.
        Impetus fabulas nam ea.
      </p>
    </div>
  </div>
</div>
